services:
  you_up:
   container_name: status
   build:
     context: https://github.com/CUB3D/YouUp.git
   ports:
     - "8102:8102"
   environment:
     RUST_LOG: info
     DATABASE_URL: "mysql://root:ChangeMe@mariadb:3306/youup"
     HISTORY_SIZE: 5
     PRIVATE_KEY: 1234asdf1234asdf1234asdf1234asdf1234asdf1234asdf1234asdf1234asdf
   restart: unless-stopped
   networks:
     - youup-net
   depends_on:
     - mariadb

  mariadb:
    image: mariadb:11.4
    volumes:
      - mariadb_data:/var/lib/mysql
    environment:
      - MARIADB_ROOT_PASSWORD=ChangeMe
      - MARIADB_DATABASE=youup
    ports:
      - "3306:3306"
    networks:
      - youup-net
networks:
  youup-net:
volumes:
  mariadb_data: