{% extends "base_admin_template.html" %}

{% block content_main %}
<div class="container-md">

    <a href="/admin/incidents/new" class="btn btn-primary">New Incident</a>

    <div class="d-flex flex-row">
        <h2 class="mr-auto">Incidents</h2>
    </div>

    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Email</th>
                <th scope="col">Confirmed</th>
            </tr>
        </thead>
        <tbody>
            {% for subscriber in subscriptions %}
                <tr>
                    <th scope="row">{{subscriber.id}}</th>
                    <td>{{subscriber.email}}</td>
                    <td>{{subscriber.confirmed}}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}

{% block class_subscriptions_active%}active{% endblock %}
