{% extends "base_admin_template.html" %}

{% block content_main %}
<div class="container-md">
    <nav aria-label="breadcrumb" class="mt-2">
        <ol class="breadcrumb">
            <li class="breadcrumb-item active" aria-current="page">Dashboard</li>
        </ol>
    </nav>

    <div class="d-flex flex-row">
        <h2 class="mr-auto">Projects</h2>
    </div>

    <form action="/admin/dashboard" method="post">
        {% for project in projects %}
            <div class="card mt-2 mb-2">
                <div class="card-header">
                    <input type="text" class="card-title" id="{{project.id}}_name" value="{{ project.name }}"/>
                </div>
                <div class="card-body">
                    <div class="custom-control custom-switch">
                        {% if project.enabled %}
                            <input type="checkbox" class="custom-control-input" id="{{project.id}}_enabled" name="enabled" checked>
                        {% else %}
                            <input type="checkbox" class="custom-control-input" id="{{project.id}}_enabled" name="enabled">
                        {% endif %}
                        <label class="custom-control-label" for="{{project.id}}_enabled">Show on homepage</label>
                    </div>
                    <div class="form-group">
                        <label for="{{project.id}}_description">Description</label>
                        <input type="text" id="{{project.id}}_description" value='{{project.formatted_description()}}'>
                    </div>
                    <div class="form-group">
                        <a href="/embed/{{project.id}}">Embed URL</a>
                    </div>
                    <a class="btn btn-primary" href="/admin/project/{{project.id}}">Details</a>
                </div>
            </div>
        {% endfor %}
        <div class="form-group">
            <input type="submit" class="btn btn-primary" value="Save">
        </div>
    </form>
</div>
{% endblock %}

{% block class_home_active%}active{% endblock %}
