{% extends "base_admin_template.html" %}

{% block content_main %}
<div class="container-md">


    <div class="d-flex flex-row">
        <h2 class="mr-auto">Subscriptions</h2>
    </div>

    <div class="d-flex flex-row">
        <h2 class="mr-auto">Email</h2>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Email</th>
                <th scope="col">Confirmed</th>
            </tr>
        </thead>
        <tbody>
            {% for subscriber in subscriptions %}
                <tr>
                    <th scope="row">{{subscriber.id}}</th>
                    <td>{{subscriber.email}}</td>
                    <td>{{subscriber.confirmed}}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    {% if sms_enabled %}
    <div class="d-flex flex-row">
        <h2 class="mr-auto">SMS</h2>
    </div>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Phone No.</th>
            <th scope="col">Confirmed</th>
        </tr>
        </thead>
        <tbody>
        {% for subscriber in sms_subscriptions %}
        <tr>
            <th scope="row">{{subscriber.id}}</th>
            <td>{{subscriber.phone_number}}</td>
            <td>{{subscriber.confirmed}}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
    {% endif %}

    <div class="d-flex flex-row">
        <h2 class="mr-auto">WebHooks</h2>
    </div>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Url</th>
            <th scope="col">Enabled</th>
        </tr>
        </thead>
        <tbody>
        {% for subscriber in webhook_subscriptions %}
        <tr>
            <th scope="row">{{subscriber.id}}</th>
            <td>{{subscriber.url}}</td>
            <td>{{subscriber.enabled}}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}

{% block class_subscriptions_active%}active{% endblock %}
