name: Build image

on:
  push:
    branches: 
      - master

env:
  CARGO_TERM_COLOR: always

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - name: Build and publish to GHCR
        uses: macbre/push-to-ghcr@master
        with:
          image_name: cub3d/you-up
          github_token: ${{ secrets.GITHUB_TOKEN }}
  
